<mat-toolbar>
  Dashboard
</mat-toolbar>
<div class="progressbar-div">
  <ng-container *ngIf="isFind">
    <mat-progress-bar mode="buffer" [value]="count / maxCount * 100"></mat-progress-bar>
  </ng-container>
</div>
<div class="container-div">
  <div class="find-div">
    <form [formGroup]="findFormGroup">
      <mat-form-field>
        <mat-label>Network mask</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="networkMask" (ngModelChange)="findFormGroupNgModelChange()">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Ip start</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="ipStart" (ngModelChange)="findFormGroupNgModelChange()">
      </mat-form-field>
      <span class="ip-separator-span">-</span>
      <mat-form-field class="ip-end-form-field">
        <mat-label>Ip end</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="ipEnd" (ngModelChange)="findFormGroupNgModelChange()">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Port</mat-label>
        <input matInput type="number" autocomplete="off" formControlName="port">
      </mat-form-field>
    </form>
    <div>
      <button mat-flat-button color="primary" [disabled]="isFind" (click)="find()" (ngModelChange)="findFormGroupNgModelChange()">
        <mat-icon>search</mat-icon>
        Find
      </button>
    </div>
    <form class="add-form" [formGroup]="addFormGroup">
      <mat-form-field>
        <mat-label>Ip</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="address">
      </mat-form-field>
    </form>
    <div>
      <button mat-flat-button color="primary" [disabled]="isFind" (click)="addSpecificDevice()">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
    <ng-container *ngFor="let foundDevice of foundDeviceArr">
      <mat-card class="found-device-card">
        <button mat-icon-button (click)="addDevice(foundDevice)">
          <mat-icon>add</mat-icon>
        </button>
        <span class="found-device-span">{{ foundDevice.ip }}:{{ foundDevice.port }}</span>
      </mat-card>
    </ng-container>
  </div>
  <div class="registered-div">
    <mat-accordion>
      <ng-container *ngFor="let registeredDevice of registeredDeviceArr">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ registeredDevice.ip }}:{{ registeredDevice.port }}</mat-panel-title>
          </mat-expansion-panel-header>
          <app-registered-device-expansion-panel [device]="registeredDevice" (onRemove)="onDeviceRemove($event)"></app-registered-device-expansion-panel>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</div>
