:host {
  --space-medium: 10pt; 
  
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container-div {
  display: flex;
  flex: 1;
}

.progressbar-div {
  height: 4px;
}

.find-div {
  flex: 1;
  padding: var(--space-medium);
}

.ip-separator-span {
  margin-left: var(--space-medium);
}

.ip-end-form-field {
  margin-left: var(--space-medium);
}

.add-form {
  margin-top: var(--space-medium);
}

.found-device-card {
  margin-top: var(--space-medium);
}

.registered-div {
  flex: 1;
  padding: var(--space-medium);
}
