<mat-toolbar>
  Dashboard
</mat-toolbar>
<div class="progressbar-div">
  <ng-container *ngIf="isLoading">
    <mat-progress-bar mode="buffer" [value]="count / maxCount * 100"></mat-progress-bar>
  </ng-container>
</div>
<div class="container-div">
  <div class="find-div">
    <div>
      <button mat-flat-button color="primary" [disabled]="isLoading"(click)="find()">
        <mat-icon>search</mat-icon>
        Find
      </button>
    </div>
    <ng-container *ngFor="let foundDevice of foundDeviceArr">
      <mat-card class="found-device-card">
        <button mat-icon-button (click)="addDevice(foundDevice)">
          <mat-icon>add</mat-icon>
        </button>
        <span class="found-device-span">{{ foundDevice.ip }}:{{ foundDevice.port }}</span>
      </mat-card>
    </ng-container>
  </div>
  <div class="registered-div">
    <ng-container *ngFor="let registeredDevice of registeredDeviceArr">
      <mat-card class="registered-device-card">
        <div>
          <button mat-icon-button (click)="removeDevice(registeredDevice)"><mat-icon>remove</mat-icon></button>
          <button class="registered-device-refresh-button" mat-icon-button (click)="refresh(registeredDevice)"><mat-icon>refresh</mat-icon></button>
          <span class="registered-device-span">{{ registeredDevice.ip }}:{{ registeredDevice.port }}</span>
        </div>
        <div  class="registered-device-button-div">
          <button mat-flat-button color="primary" (click)="subscribe(registeredDevice)">
            <mat-icon>leak_add</mat-icon>
            Subscribe
          </button>
        </div>
        <div class="registered-device-config-div">
          <pre>{{ getDeviceDashboard(registeredDevice) }}</pre>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
