ESP32/Firmware/Globals.h

MQTT/mqtt-service-config.json

HTTP/http-service-config.json

Weather/weather-service-config.json

Forecasting/forecasting-service-config.json

Influx/influx-config.json

Services/__pycache__
Services/node_modules
Services/package-lock.json
