ESP32/firmware/GlobalsAuth.h
ESP32/firmware/WifiAuth.h
ESP32/firmware/MqttAuth.h

MQTT/mqtt-service-config.json

HTTP/http-service-config.json

Weather/weather-service-config.json

Influx/influx-config.json

Services/__pycache__
Services/node_modules
Services/package-lock.json
