<div>
  <button mat-flat-button [disabled]="isLoading" (click)="remove()">
    <mat-icon>remove</mat-icon>
    Remove
  </button>
  <button class="refresh-button" mat-flat-button [disabled]="isLoading" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>
</div>
<form class="values-form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>PIN_DHT11 (readonly)</mat-label>
    <input matInput type="number" autocomplete="off" readonly formControlName="PIN_DHT11">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>PIN_MQ2_AO (readonly)</mat-label>
    <input matInput type="number" autocomplete="off" readonly formControlName="PIN_MQ2_AO">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>PIN_MQ2_DO (readonly)</mat-label>
    <input matInput type="number" autocomplete="off" readonly formControlName="PIN_MQ2_DO">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>WIFI_SSID</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="WIFI_SSID">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>WIFI_PASSWORD</mat-label>
    <input matInput type="password" autocomplete="off" formControlName="WIFI_PASSWORD">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>ESP32_ID</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="ESP32_ID">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>ESP32_LATITUDE</mat-label>
    <input matInput type="number" step="0.000001" autocomplete="off" formControlName="ESP32_LATITUDE">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>ESP32_LONGITUDE</mat-label>
    <input matInput type="number" step="0.000001" autocomplete="off" formControlName="ESP32_LONGITUDE">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>SAMPLE_FREQUENCY</mat-label>
    <input matInput type="number" autocomplete="off" formControlName="SAMPLE_FREQUENCY">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>MIN_GAS_VALUE</mat-label>
    <input matInput type="number" autocomplete="off" formControlName="MIN_GAS_VALUE">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>MAX_GAS_VALUE</mat-label>
    <input matInput type="number" autocomplete="off" formControlName="MAX_GAS_VALUE">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>COMMUNICATION_PROTOCOL</mat-label>
    <mat-select formControlName="COMMUNICATION_PROTOCOL">
      <mat-option [value]="0">MQTT</mat-option>
      <mat-option [value]="1">COAP</mat-option>
      <mat-option [value]="2">HTTP</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>MQTT_SERVER</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="MQTT_SERVER">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>MQTT_USER</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="MQTT_USER">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>MQTT_PASSWORD</mat-label>
    <input matInput type="password" autocomplete="off" formControlName="MQTT_PASSWORD">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>MQTT_TOPIC</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="MQTT_TOPIC">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>COAP_SERVER</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="COAP_SERVER">
  </mat-form-field>
  <mat-form-field class="form-field-space-left">
    <mat-label>COAP_URL</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="COAP_URL">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>HTTP_SEND_URL</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="HTTP_SEND_URL">
  </mat-form-field>
</form>
<div class="button-div">
  <button mat-flat-button color="primary" [disabled]="isLoading" (click)="setValues()">
    <mat-icon>check</mat-icon>
    Set values
  </button>
</div>